
transformers>=4.30
torch>=2.0
accelerate
sentencepiece
bitsandbytes
datasets
pandas
numpy
matplotlib
scikit-learn
ipywidgets
psutil
huggingface-hub
seaborn
langchain
langchain-community
langchain-huggingface



