# Backend framework
fastapi==0.115.4
uvicorn[standard]==0.30.6
streamlit==1.38.0
plotly==5.22.0
# Upload handling + env files
python-multipart==0.0.9
python-dotenv==1.0.1

# Image + preprocessing
pillow==10.4.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
scikit-image==0.24.0

# ML Runtime (KERAS INCLUDED INSIDE TF)
tensorflow==2.19.0

